<!DOCTYPE html>
<html>
<head>
<title>{{ site.name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">

{% include navbar.html %}

<div class="container">

<div class="row">
<div class="col-sm-9">
{{ content }}
</div>
<div class="col-sm-3">

<div class="panel panel-default">
<div class="panel-heading">About Me</div>
<div class="panel-body">{% include quickabout.html %}</div>
</div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>

