<!DOCTYPE html>
<html>
<head>
<title>{{ site.name }} - {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">

{% include navbar.html %}

<div class="container">
<div class="panel panel-default">
<div class="panel-heading"><h1>{{ page.title }}</h1>
<h4>{{ page.date | date: "%B %-d %Y" }}</h4>
</div>
<div class="panel-body">
{{ content }}
</div>

<div class="share">
<g:plusone style="float: left" size="medium"></g:plusone>
<script type="text/javascript">
  window.___gcfg = {
	lang: 'en-US'
  };

  (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!--<span id="fb-root"></span>-->
<div id="fb-root" style="float: left"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="padding-right: 30px; float: left" class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

<a style="float: left" href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!--<script style="float: left" type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>

<script style="float: left" src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script style="float: left" type="IN/Share" data-counter="right"></script>-->

</div><!--/share -->

</div><!-- panel -->
</div><!-- container -->

<div id="footer">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
